.loading{
  width: 100vw;
  height: 100vh;
  background-color: #4776E6;
  display: flex;
  justify-content: center;
  align-items: center;

  .circleout{
    height: 70px;
    width: 70px;
    border: solid 5px white;
    border-bottom: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotateLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .circlein{
      height: 50px;
      width: 50px;
      border: solid 5px white;
      border-top: none;
      border-radius: 50%;
      animation-name: rotateRight;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  @keyframes rotateRight {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }
  @keyframes rotateLeft {
    0%   {transform: rotate(-0deg);}
    50%  {transform: rotate(-180deg)}
    100% {transform: rotate(-360deg)}
  }
}


.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  /* background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  background: linear-gradient(to right, #8E54E9, #4776E6); */
  background-repeat:no-repeat;
  background-size: cover;

  .maincontainer{
    width: max;
    height: max;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr 1fr;
        
    .mapcontainer{
      background: rgb(230, 230, 230);
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }


  &.sunny{
    background-image: url('../../assets/background/sunny.jpg');
  }
  &.partlycloudy{
    background-image: url('../../assets/background/partlycloudy.jpg');
  }
  &.cloudy{
    background-image: url('../../assets/background/cloudy.jpg');
  }
  &.rain{
    background-image: url('../../assets/background/rain.jpg');
  }
  &.thunder{
    background-image: url('../../assets/background/thunder.jpg');
  }
  &.fog{
    background-image: url('../../assets/background/fog.jpg');
  }
  &.snow{
    background-image: url('../../assets/background/snowing.jpg');
  }
  &.blizzard{
    background-image: url('../../assets/background/blizzard.jpg');
  }
}
