.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  background: linear-gradient(to right, #8E54E9, #4776E6);
  .maincontainer{
    width: max;
    height: max;
    margin: 50px 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .weathercontainer{
      display: flex;
      flex-direction: column;
      background: rgb(230, 230, 230);
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .statscontainer{
      display: grid;
      grid-template-rows: 1fr 1fr;
      background: rgb(230, 230, 230);
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .locationcontainer{
      display: flex;
      flex-direction: column;
      background: rgb(230, 230, 230);
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .mapcontainer{
      background: rgb(230, 230, 230);
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
