.footer{
    font-weight: 300;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2px 30px;
    background-color: rgba(34, 34, 34, 0.473);
    box-shadow: var(--shadow);
    font-size: 0.8em;
    height: max-content;
    box-shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
    position: fixed;
    bottom: 0;
    border-radius: 3px;
    color: white;
    a{
        text-decoration: none;
        color: #3EB595;
    }
    
}
