.searchinput{
    margin: 20px 300px;
    display: grid;
    grid-template-columns: 1fr 60px;
    font-weight: 400;
    input{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 1.2em;
        padding: 20px;
        background: rgba(0, 0, 0, 0.274);
        border: 1px solid white;
        border-radius: 10px 0px 0px 10px;
        outline: 0;
        transition: 0.5s;
        &:focus{
            
        }
    }
    button{
        height: max;
        background: rgba(0, 0, 0, 0.274);
        border: 1px solid white;
        border-left: none;
        border-radius: 0px 10px 10px 0px;
        color: white;
        transition: 0.3s;
        &:hover{
            color: #4776E6;
            background: white;
            cursor: pointer;
        }
    }
}
